.contactUs {
  display: flex;
  flex-direction: column;

  box-shadow: 5px 5px 10px #eb227e, -5px -5px 10px #ff268c;
  border-radius: 40px;
  border: 1px solid white;
  font-family: "Open Sans";
  font-size: 1.4em;
  line-height: 3vmin;
  color: #fefefe;
  margin-top: 15vmin;
  max-width: 500px;
  padding: 10%;
}

.containerUs {
  display: flex;
  margin-left: 50%;
}

.title {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .contactUs {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    line-height: 4vmin;
    color: #fefefe;

    margin-left: 18vmin;
    margin-right: 30vmin;
    padding: 5%;
  }

  .containerUs {
    display: flex;
    margin-left: 15%;
    font-size: 1.5em;
    margin-bottom: 30%;
  }

  .title {
    font-weight: bold;
    text-align: center;
  }
}
