.container h1 {
  white-space: nowrap;
}

.container {
  margin-top: 15vmin;
  display: flex;
  white-space: pre-wrap;
  color: #fefefe;
  font-size: 1.5em;
  line-height: 40px;
  margin-left: 30vmin;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 17%;
}

input {
  padding: 15px;
  border-radius: 0.6vmin;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.img-alien {
  display: flex;
  height: 100px;
  width: 100px;
  position: relative;
}

button {
  position: relative;
  width: 7em;
  height: 3.5em;
  background: #f72585;
  box-shadow: 0px 4px 4px #ffffff;
  border-radius: 15px;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  input {
    padding: 5px;
    border-radius: 0.6vmin;
    line-height: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    margin-top: 1vmin;
    display: flex;
    white-space: pre-wrap;
    color: #fefefe;
    line-height: 20px;
  }

  .form-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
}
