.selectlevel {
    background-color: #000;
    border-radius: 10px;
    height:6vh;
    width: 50vh;
}

.level {
    background-color: transparent;
    border: none;
    height: 5vh;
    width: 25vh;
    margin: 0;
    padding: 0;
    color: #fff;
}

.level :active {
    background-color: #fff;
    color: #fff;
}

.tablescores {
    margin-top: 5vh;
}
