@import "@assets/css/variables.css";

.buttonAnswerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button style */
.buttonAnswer {
  background-color: var(--buttonAnswerBackgroundColor);
  border: none;
  color: var(--textButtonAnswerColor);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px 15px;
  cursor: pointer;
  box-shadow: var(--buttonAnswerBoxShadow);
  border-radius: 15px;
}

/* Button hover style */
.buttonAnswer:hover {
  background-color: var(--buttonAnswerHoverBackgroundColor);
}

.buttonAnswer:active {
  box-shadow: var(--buttonAnswerActiveBoxShadow);
  transform: translateY(4px);
}

.answer {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 15px;
}
