@import "@assets/css/variables.css";

/* Buttons
=============================*/
/* Button container */
.buttonAnswerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

/* Button answer style */
.answerButton {
  word-wrap: break-word;
  width: 100%;
  min-height: 3.12rem;
  border-radius: var(--buttonAnswerBorderRadius);
  border: var(--buttonAnswerBorder);
  background-color: var(--buttonAnswerBackgroundColor);
  color: var(--buttonAnswertextColor);
  font-size: var(--buttonAnswerTextSize);
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.answerButtonSelected {
  word-wrap: break-word;
  width: 100%;
  min-height: 3.12rem;
  border-radius: var(--buttonAnswerBorderRadius);
  border: var(--buttonAnswerBorder);
  background-color: var(--buttonAnswerHoverBackgroundColor);
  color: var(--buttonAnswerHoverTextColor);
  font-size: var(--buttonAnswerTextSize);
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Button answer hover style */
.answerButton:hover {
  background-color: var(--buttonAnswerHoverBackgroundColor);
  color: var(--buttonAnswerHoverTextColor);
}

.buttonResetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Button reset style */
.resetButton {
  background-color: var(--buttonResetBackgroundColor);
  border: none;
  color: var(--textButtonResetColor);
  padding: var(--buttonResetPadding);
  text-align: center;
  font-size: var(--buttonResetTextSize);
  margin: 5%;
  cursor: pointer;
  box-shadow: var(--buttonResetBoxShadow);
  border-radius: var(--buttonResetBorderRadius);
}

/* Button reset hover style */
.resetButton:hover {
  background-color: var(--buttonResetHoverBackgroundColor);
}

/* Button reset active style */
.resetButton:active {
  box-shadow: var(--buttonResetActiveBoxShadow);
  transform: translateY(4px);
}

@media screen and (min-width: 700px) {
  /* Buttons
  =============================*/
  /* Button container style */
  .buttonAnswerContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Button answer style */
  .answerButton {
    width: 45%;
  }

  .answerButtonSelected {
    width: 45%;
  }
}
